@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.Header {
	display: flex;
	width: 100%;
	margin-top: 1rem;
}

.Header img {
	width: 36px;
	height: 36px;
}

.Logo {
	width: 6%;
	display: flex;
	justify-content: center;
}

.recommendedTag {
	background: rgba(0, 232, 162, 0.5);
	border-radius: 3px;
	padding: 0 0.75rem;
}

.Title {
	font-weight: 700;
	font-size: 20px;
}

.HeaderChild {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 0.5px solid rgb(195, 197, 203, 0.75);
}

.HeaderChild_1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 28%;
}
