@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', Courier, monospace;
  color: #ffffff;
}

.funcButton img {
  width: 24px;
  height: 24px;
}

.funcButton {
  min-width: 100px;
  height: 28px;
  left: 606px;
  top: 579.43px;
  padding: 0 0.15rem;

  border: 1px solid #ffffff;
  background-color: rgba(240, 248, 255, 0);
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonHeader {
  padding-left: 0.25rem;
}

.buttonIcon {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .funcButton {
    margin-bottom: 0.5rem;
  }
}
